main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.ml-auto {
  margin-left: auto !important;
}

.rating span {
  margin: 0.1rem;
}

/* select.form-control {
  color: white;
  background-color: rgba(0, 0, 0, 0.336);
} */

/* body {
  background-color: rgba(150, 150, 150, 0.658);
} */
